h1,
h2{
  text-align: center;
  font-family: verdana;
}

a {
  font-family: impact;
}

p,
li{
  font-family: verdana;
  font-size: 15px;
}


.jumbotron {
  background-image: url("../images/representingme.jpg");
  background-size: cover;
  background-position: center;
  opacity: .5;
}
.container {
  background-color: #ffffff00;
  position: relative;
  width: 90%;
  padding: 20px;
  top: -15px;
}

.col-md-4 {
  position: relative;
  background-color: #b3b3b333;
  min-height: 5px;
  padding: -15px;
  width: 100%;
}

.row {
}

.panel-heading {
  background-color: #80bfff77;
  margin: 10px;
}

.panel-title {
  text-align: center;
}

body {
  background-color: #e8eefd;
  background-image: url(../images/backgrounds.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.purpose {
  text-shadow: 2px 2px #999999;
}

#jumbotext {
  opacity: 1000;
  color: red;
}
